body {
  background-color: #f1f0ea;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline;
  padding-right: 20px;
}

.live-content {
}

.sample-wrapper {
  width: 50%;
  height: 450px;
  position: absolute;
  overflow: hidden;
}

.sample {
  position: absolute;
  right: 106px;
  bottom: 40px;
  height: 400px;
  width: 350px;
  background: #fff;
  -webkit-box-shadow: 6px 4px 5px 0px rgba(235, 235, 235, 1);
  -moz-box-shadow: 6px 4px 5px 0px rgba(235, 235, 235, 1);
  box-shadow: 6px 4px 5px 0px rgba(235, 235, 235, 1);
  transform: rotate(2deg);
  opacity: 100%;
  transition: all 0.3s;
}

.off-screen {
  right: -1000px;
  bottom: -1000px;
  transform: rotate(25deg);
  opacity: 20%;
}
